* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body * {
  font-family: "Outfit", sans-serif;
}

.border-radius {
  border-radius: 50%;
}

.left-mpuk {
  display: none;
}

.left-logo img,
.right-logo img {
  margin: 10px 0px;
  width: 90px;
}

.left-logo {
  display: none;
}

.right-logo {
  display: none;
}

.left-logo,
.right-logo {
  text-align: center;
}

.text-title {
  text-align: center;
  margin-top: 15px;
  display: none;
}

.text-title h2 {
  color: #0b653b;
}

.text-title h3 {
  color: #768500;
  font-weight: 700;
}

.item {
  margin: 0px 1px;
  padding: 0px 1px;
}

.item img {
  width: 120px;
  height: 100px;
}

/* .nav-melayang {
  background-color: rgba(20, 81, 33, 0.9);
} */

.title img {
  width: 40px;
  border-radius: 50%;
}

.megamenu > li.showhide {
  display: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.megamenu > li.showhide span.title {
  margin: 6px 0 0 10px;
  float: left;
  font-size: 10px;
}
.megamenu > li.showhide span.icon1:after {
  position: absolute;
  content: "";
  right: 25px;
  top: 15px;
  height: 3px;
  width: 25px;
  font-size: 50px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  z-index: 1;
}
.megamenu > li.showhide span.icon2:after {
  position: absolute;
  content: "";
  right: 25px;
  top: 27px;
  height: 3px;
  width: 25px;
  font-size: 50px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  z-index: 1;
}

.megamenu .dropdown li a {
  float: left;
  width: 100%;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  border: 0 none;
  font-size: 12px;
  color: darkgreen;
}

.list-style {
  list-style-type: none;
}

.text-key {
  text-align: center;
}

/* .text-key h1 {
  padding: 10px 5px;
  font-weight: 700;
  background-color: #145121;
  border-radius: 35px;
  color: #fff;
  margin-bottom: 35px;
} */

/* .text-key h4 {
  margin-bottom: 20px;
} */

.img-key {
  text-align: center;
}

.img-key img {
  width: 500px;
  margin: 45px 0px;
}

.color {
  background-color: yellowgreen;
}

.foter {
  background-color: #145121;
  border-top: 10px solid #dcdc00;
  padding: 35px;
  color: #fff;
}

.footer {
  display: block;
}

.footer img {
  padding: 10px 0px;
  width: 65px;
}

.footer h3 {
  color: white;
}

.follow {
  display: flex;
}

.visit,
.follow {
  list-style-type: none;
}

.follow li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  transition: all 0.4 ease-out;
}

.follow li a:hover {
  color: #24262b;
  background-color: #fff;
}

.visit {
  display: flex;
  text-align: center;
}
.visit li a {
  color: #bbbbbb;
  text-decoration: none;
  transition: 0.2 ease-in;
  display: block;
}

.visit li a:hover {
  color: #fff;
  padding: 5px;
  font-weight: 500;
}

.partner {
  padding-left: 50px;
}

/* tentang page */

/* .headline-tentang {
  width: 548px;
  height: 100px;
  background-image: url(../image/headline\ tentang\ hp.jpg);
} */

.text-about {
  padding: 0px 0px;
}

.text-about h2 {
  font-weight: 500;
  padding: 12px 40px;
}

/* tentang page */

/* VISI page */

.back-card {
  background-image: url(../image/10.jpg);
}

.hero-about img {
  border-bottom: 5px solid #dcdc00;
}

.card {
  padding: 35px;
  margin: 50px 12px;
}

.card .card-header h2 {
  text-align: center;
}

.visi h5 {
  font-size: 25px;
}

.yellow {
  background-color: #dcdc00;
  margin: 20px 0px;
  border-radius: 10px;
}

/* VISI page */

/* KEBIJAKAN PAGE */

.kebijakan-link {
  text-align: center;
}

.kebijakan-link h2 {
  color: #145121;
  padding: 10px;
  font-weight: 700;
}

.kebijakan-link h5 a {
  text-decoration: none;
  color: darkblue;
}

/* KEBIJAKAN PAGE */

/* pelayanan */

/* .headline-pelayanan {
  width: 548px;
  height: 100px;
  background-image: url(../image/headline\ pelayanan\ hp.jpg);
} */

.pelayanan-headline {
  padding: 40px 0px;
}

.pelayanan-headline h1 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.pelayanan-penjelasan > .col-md-6 img {
  width: 100%;
}

.pelayanan-penjelasan > .col-md-6 a {
  text-decoration: none;
  color: #000;
}

.pelayanan-penjelasan > .col-12 a {
  text-decoration: none;
  color: #000;
}

.pelayanan-penjelasan > .col-md-6 h3 {
  text-align: center;
  font-weight: 700;
}

/* /* .pelayanan-penjelasan > .col-md-6 h5,
.col-12 h5 {
  padding: 12px 50px;
}  */

.pelayanan-penjelasan > .col-12 {
  text-align: center;
  font-weight: 700;
}

/* pelayanan */

/* rumah-penhiburan */

.title-penghiburan h2 {
  text-align: center;
}

/* rumah penghiburan */

/* pemakaman */

.title-pemakaman {
  text-align: center;
}

.data-makam {
  text-align: center;
  color: #fff;
  width: 500px;
  height: 150px;
  border-radius: 20px;
  background-color: #768500;
}

.data-makam h2,
.data-makam a {
  padding-top: 25px;
}

.data-makam a {
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

/* pemakaman */

/* data makam */

.headline-data-makam h2 {
  font-weight: bold;
}

/* data makam */

/* paket standar */

.paket-standar {
  margin: 50px 0px;
  padding: 18px;
  border: 2px solid #000;
  border-radius: 10px;
}

.paket {
  border-right: 1px solid #000;
}

.paket ul {
  display: flex;
  list-style-type: none;
}

.paket a {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: darkblue;
}

.bayar {
  margin-left: 220px;
}

.penjelasan {
  text-align: left;
}

.paket-subsidi {
  margin-top: 50px;
  padding: 18px;
  border: 2px solid #000;
  border-radius: 10px;
}

.paket {
  border-right: 1px solid #000;
}

.judul-paket h4 {
  padding: 10px;
  color: #fff;
  background-color: darkblue;
}

.daftar-paket {
  list-style-type: none;
  float: right;
}

.daftar-paket li a {
  text-decoration: none;
  padding:0.5rem;
  color: black; 
  border: 1px solid #000;
}

.daftar-paket li a:hover {
  background-color: darkblue;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

/* paket standar */

/* organ page */

.img-profil {
  text-align: center;
}

.img-profil img {
  width: 38.1mm;
  height: 55.9mm;
  border-radius: 10px;
}

.text-name h6 {
  color: red;
}

/* organ page */

/* gallery */

/* .headline-gallery {
  width: 548px;
  height: 100px;
  background-image: url(../image/headline\ gallery\ hp.jpg);
} */

.gallery > .col-md-4 {
  padding: 10px;
}

.gallery > .col-md-4 img {
  width: 500px;
  height: 350px;
}

/* gallery */

/* keuangan */

/* .headline-keuangan {
  width: 548px;
  height: 100px;
  background-image: url(../image/headline\ keuangan\ hp.jpg);
} */

/* keuangan */

/* pendaftaran page */

.form-back {
  background-image: url(../image/light-3.jpg);
  width: 100%;
  height: auto;
}

.txt-data h2,
.txt-data h3 {
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
}

.kirim {
  padding: 8px 12px;
  border-radius: 4px;
  text-align: right;
}

.kirim button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #0b653b;
}

.kirim button:hover {
  background-color: blue;
  color: #0b653b;
}

.keterangan {
  font-weight: 400;
}

/* pendaftaran page */

/* hubungi page */

.info-bar {
  /* background-image: url(../image/9-2.jpg); */
  border-top: 5px solid #dcdc00;
}

.box-info {
  background-color: #fff transparent;
}

.hub {
  font-size: 21px;
  margin: 10px 0px;
  color: darkred;
  font-weight: 700;
}

.email {
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
  line-height: 0;
  border-bottom: 2px solid #000;
}

.email h3 {
  font-size: 17px;
  color: darkgreen;
  font-weight: 700;
}

.email a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  font-weight: 700;
}

.call {
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
  line-height: 0;
  margin-top: 15px;
  border-bottom: 2px solid #000;
}

.call a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
  font-weight: 700;
}

.call h3 {
  font-size: 17px;
  color: darkgreen;
  font-weight: 700;
}

.address {
  padding: 10px 0px;
  text-align: center;
}

.address h3 {
  font-size: 17px;
  color: darkgreen;
  font-weight: 700;
}

.address p {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.mail-pengurus {
  text-align: center;
}

.mail-pengurus h5 {
  font-size: 16px;
}

/* hubungi page */

/* artikel page */

.laporan h3 {
  padding-left: 20px;
}

.laporan h5 {
  padding-left: 20px;
  padding-right: 12px;
  text-align: justify;
}

.laporan-lanjutan {
  text-align: justify;
}

.laporan-lanjutan h5 {
  padding: 20px 0px 0px 10px;
  text-align: justify;
}

/* artikel page */

/* login page */

.login {
  background-image: url(../image/);
}

.login-box {
  width: 300px;
  background-color: #4caf50; /* Set the background color to green */
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login-box .col-12 {
  text-align: center;
}

.login-box .col-12 img {
  border-radius: 50%;
  width: 60px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.user-box {
  position: relative;
  margin-bottom: 20px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

button[type="submit"] {
  background: #fff;
  border: none;
  color: #4caf50;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #e0e0e0;
}

/* login page */

/* media queris */

@media (min-width: 768px) {
  .left-mpuk {
    display: none;
  }

  .left-logo {
    display: block;
  }

  .text-title {
    display: block;
  }

  .right-logo {
    display: block;
  }

  .megamenu .dropdown li > .dropdown {
    font-size: 15px;
  }
}
